header{  background-color: rgb(223, 139, 14);}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 18vh !important;
  font-weight: bold;
  background-color: #d76a03;
  color:white !important
}
.navbar{

  background-color: #d76a03;
  color:white
}

.citation{
  font-size: 4vh;
}
.link{
  font-weight: bold !important;
  font-size: 4vh;

}
.cornellTag{
  max-width: 25vw;
  max-height: 18vh;


}
.intro{
  background-color: #d76a03;

}

.feather-button{
 border: white  !important;
  background-color: white  !important;
  width: 6vw;
  height: 15vh;
  
}
.feather-svg{
  width: 3.5vw;
}

.intro-text{
border: white, 1px !important;
  color:white;
}


.bird-name{
  font-family: 'Roboto', sans-serif;
background-color: #1f4c72, !important;
color: white !important;
font-size: 4vh;
font-weight: 600;
}


.card{
  background-color: #7e8731 !important; 

 } 
.button{
  background-color: #d76a03 !important;
  width: 100%;
  font-size: 50px;

}

.bird-sex{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4vh;
  text-shadow: -1px 1px 0 rgb(79, 79, 79),
				  1px 1px 0 rgb(79, 79, 79),
				 1px -1px 0 rgb(79, 79, 79),
				-1px -1px 0 rgb(79, 79, 79);
}

.small-bird-title{
  font-weight: 600;
}
@media all and (min-width: 431px) and (max-width: 701px) {
  .title{
    font-size: 6vh !important;
  }
  .citation{
    font-size: 2vh !important;
  }
  
  .link{
    font-size: 2vh !important;
  }
  .cornellTag{
    width: 20vw
  }
  .feather-button{
    height: 12vh;
  }
}
@media all and (max-width: 430px) {
  .title{
    font-size: 4vh !important;

  }

  .citation{
    font-size: 1vh !important;

  }
  
  .link{
    font-size: 1vh !important;

  }
  .cornellTag{
    height: 4vh;
    width: 28vw
  }
  .feather-button{
    height: 4vh;
    width: 10vw;
  }
  .feather-svg{
    height: 2.5vh;
    width: 5vw;
  }
}